<section id="blog-page">
    <div style="margin-top:85px;" class="container">
        <div class="row">
            <div class="next-prev clearfix">
                <a href="" class="prev-post">
                    <i class="fa fa-angle-left fa-2x"></i>Précédent Post
                </a>
                <a href="" class="next-post pull-right">
                    Post Suivant<i class="fa fa-angle-right fa-2x"></i>
                </a>
            </div>
            <div class="author-about clearfix">
                <h4>** Question du post **</h4>
                <div class="post-author pull-left">
                    <img src="/img/blog/avatar.png" alt="">
                </div>
                <div class="author-bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae modi quisquam laboriosam, expedita ea natus tempora unde sed sequi velit, quia veniam libero quos sunt.</p>
                </div>

            </div>

            <div id="comments" class="comments-section">
                <h4>4 Commentaire</h4>
                <ol class="comment-list">
                    <li id="comment-1">
                        <div class="comment-wrap">
                            <div class="author-avatar pull-left">
                                <img src="/img/blog/user.jpg" alt="">
                            </div>
                            <div class="author-comment">
                                <cite class="pull-left"><a href="#">Smithson</a></cite>
                                <div style="clear:both"></div>
                                <div class="comment-meta">
                                    <i class="fa fa-calendar"></i> 26 aug 2013 at 07:30 PM
                                </div>
                            </div>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, repellendus. Culpa nam aut vel. Ab, excepturi minus, quasi debitis quaerat animi, enim quod repellat minima dolores facere veniam quam quo!</p>
                            </div>
                        </div>
                        <ul>
                            <li id="comment-2">
                                <div class="comment-wrap">
                                    <div class="author-avatar pull-left">
                                        <img src="/img/blog/user.jpg" alt="">
                                    </div>
                                    <div class="author-comment">
                                        <cite class="pull-left"><a href="#">Smithson</a></cite>
                                        <div style="clear:both"></div>
                                        <div class="comment-meta">
                                            <i class="fa fa-calendar"></i> 26 aug 2013 at 07:30 PM
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, repellendus. Culpa nam aut vel. Ab, excepturi minus, quasi debitis quaerat animi, enim quod repellat minima dolores facere veniam quam quo!</p>
                                    </div>
                                </div>
                            </li>
                            <li id="comment-3">
                                <div class="comment-wrap">
                                    <div class="author-avatar pull-left">
                                        <img src="/img/blog/user.jpg" alt="">
                                    </div>
                                    <div class="author-comment">
                                        <cite class="pull-left"><a href="#">Smithson</a></cite>
                                        <div style="clear:both"></div>
                                        <div class="comment-meta">
                                            <i class="fa fa-calendar"></i> 26 aug 2013 at 07:30 PM
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, repellendus. Culpa nam aut vel. Ab, excepturi minus, quasi debitis quaerat animi, enim quod repellat minima dolores facere veniam quam quo!</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="comment-wrap">
                            <div class="author-avatar pull-left">
                                <img src="/img/blog/user.jpg" alt="">
                            </div>
                            <div class="author-comment">
                                <cite class="pull-left"><a href="#">Smithson</a></cite>
                                <div style="clear:both"></div>
                                <div class="comment-meta">
                                    <i class="fa fa-calendar"></i> 26 aug 2013 at 07:30 PM
                                </div>
                            </div>
                            <div class="comment-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, repellendus. Culpa nam aut vel. Ab, excepturi minus, quasi debitis quaerat animi, enim quod repellat minima dolores facere veniam quam quo!</p>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="comment-reply-form">
                <h3>Laisse ton avis</h3>
                <form id="comment-form" method="post" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- End .form-group -->
                            <div class="form-group">
                                <textarea class="form-control" style="resize:none;" placeholder="Message *" id="message" name="message" rows="5" cols="12" required></textarea>
                            </div>
                        </div>
                        <!-- End .form-group -->
                        <div class="col-md-12" style="margin-top:10px">
                            <div class="form-group">
                                <input type="submit" id="post-comment" value="Envoyée " class="btn btn-transparent">
                            </div>
                        </div>
                        <!-- End .form-group -->
                    </div>
                </form>
            </div><!-- End Single Post -->
        </div>	    <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- End Section -->